<section class="card card-form">
  <h2>Nova Medicação</h2>

  <form method="post" action="/medicacoes/novo">

    <label>Nome</label>
    <input type="text" name="nome" required />

    <label>Dosagem</label>
    <input type="text" name="dosagem" />

    <label>Horário</label>
    <input type="text" name="horario" />

    <label>Observações</label>
    <textarea name="observacoes" rows="3"></textarea>

    <button type="submit" class="btn">Salvar</button>
  </form>
</section>
